<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context-3.2.xsd
        				http://www.springframework.org/schema/tx 
               			http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- Gestion des annotations -->
	
	<context:annotation-config />
	<context:component-scan base-package="com.excilys.projet.computerdb"/>

	
	<!-- BoneCP configuration -->
	
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
	   <property name="driverClass" value="com.mysql.jdbc.Driver" />
	   <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/computer_database" />
	   <property name="username" value="root"/>
	   <property name="password" value="passe"/>
	   <property name="idleConnectionTestPeriodInMinutes" value="60"/>
	   <property name="idleMaxAgeInMinutes" value="240"/>
	   <property name="maxConnectionsPerPartition" value="10"/>
	   <property name="minConnectionsPerPartition" value="2"/>
	   <property name="partitionCount" value="1"/>
	   <property name="acquireIncrement" value="2"/>
	   <property name="statementsCacheSize" value="100"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>
	
	
	<!-- Gestion des transactions -->
	
	<tx:annotation-driven transaction-manager="txManager"  />
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource" ref="dataSource"/>
	</bean>

</beans>