<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>computer-database</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:context-spring.xml</param-value>
	</context-param>

	<!-- MVC Servlets -->

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/x/*</url-pattern>
	</servlet-mapping>


	<!-- HttpServlets -->

	<welcome-file-list>
		<welcome-file>x/home</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- Errors -->

	<error-page>
		<exception-type>com.excilys.projet.computerdb.exception.DBException</exception-type>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/x/computer</location>
	</error-page>
			
	
</web-app>
